@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    min-height: 100vh; 
    background: linear-gradient(111deg, #955FBA 10.21%, #CEA2D0 90.49%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}





.left-side {
    width: 790px;
    height: 988px;
    border-radius: 50px 0px 0px 50px;
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monobank-title {
    color: #000;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .jar-picture {
    width: 421.714px;
    height: 404px;
} */

.owner {
    width: 234px;
height: 25px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.info-about-owner {
font-size: 34px;
font-weight: 700;
text-align: center;

}

.extra-info-about-owner{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}




.center-bottom {
    width: 265px;
    height: 103px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.center-bottom i {
    font-size: 30px;
}

.money-now {
    display: flex;
    flex-direction: column;
   
}

.money-now div:nth-child(1){
    color: #999;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    
}
.money-now div:nth-child(2){
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;   
}





.right-side {
    width: 790px;
    height: 988px;
    border-radius: 0px 50px 50px 0px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px; 
}

.sum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid transparent; 
    border-radius: 40px;
    border-image: linear-gradient(to right, #58B3F8, #D813BB) 1;
    /* border: 5px solid linear-gradient(111deg, #58B3F8 10.21%, #D813BB 90.49%); */
    background: #FFF;
    width: 570px;
    height: 320px;
    margin-bottom: 16px;
}


.refill {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.money_plus {
    color: #A7A7A9;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}
.line {
    width: 1px;
    height: 90px;
}

.plus {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.plus div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 3px solid #E5E5E5;
    background: #FFF;
    width: 150px;
    height: 60px;
}
.number {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.small_with{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent; 
    border-radius: 15px;
    border: 3px solid #ACACAC;
    background: #FFF;
    width: 490px;
    height: 80px;
}
.small_with_text {
    width: 283px;
    height: 27px;
    color: #878787;

}

.pay_card{
    display: flex;
    flex-direction: row;
}

.small_with_black{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent; 
    border-radius: 15px;
    border: 3px solid black;
    background: #000000;
    width: 490px;
    height: 80px;
}
.small_with_black_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 283px; */
    height: 40px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
    gap: 10px;
}
.small_with_light_text{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    width: 75px;
    height: 37px;
    background: white;
}

.img_small{
    height: 80px;   
}

.small_with_line{
    width: 495px;
    height: 0;
    border: 1px solid #ACACAC;
}

.small_with_card{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #e9625f;
}
.img_small_card {
    height: 27px; 
}
.card_mono {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #e9625f;
}

.left-bottom {
    width: 788px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFF;
}

.right-bottom {
    width: 788px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    gap: 20px;
    color: #FFF;
}

.botton-opacity {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    font-size: 20px;

}


.botton-opacity i{
    font-size: 30px;
}





